<!DOCTYPE html>
<html lang = 'en'>

<meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>

<head>
	<title>Mark It</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = 'text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>
	<link rel="stylesheet" type="text/css" href="/../stylesheets/createClass.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Crete+Round|Libre+Baskerville" rel="stylesheet">

</head>
<body>
	<Header role= "banner">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/userHome"> <i class="fa fa-bullseye" aria-hidden="true"></i> Mark It</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class = "logout_link"><a href="/" class = "logout_link">Logout </a></li>
		      <li class= "search_link"><a href="/searchClasses" class = "login_link">Search </a></li>
		      <li><a href="/makeClass" class = "create_class_link">Create a class </a></li>
		    </ul>
		  </div>
		</nav>
	</header>

	<main role= "main">
		<section class= "create_class_page">
			<h1 class= "page_title">Create a new Class</h1>
			<form id= "create_form" role= "form" action= "/makeClass" method= "POST" class= "create_class_form">
				<p class= "create_class_error_message"></p>
				<table style="width:100%">
				  <tr>
				    <th><label>Class Name</label></th>
				    <th><label>Genre</label></th> 
				    <th><label>Day and Time of class</label></th>
				  </tr>
				  <tr>
				    <td><input type="text" name= "className" class="class_name_input"></td>
				    <td><input type="text" name="genre" class="class_genre_input" placeholder= "Contemporary, Hip hop, etc."></td> 
				    <td><input type="text" name="weeklyDayandTime" class="class_schedule_input" placeholder= "Tuesdays at 8PM"></td>
				  </tr>
				  <tr>
				    <th><label> Difficulty</label></th>
				    <th><label> Choreographer Name</label></th> 
				    <th><label> Studio Name</label></th>
				  </tr>
				  <tr>
				    <td><input type="text" name="difficulty" class="difficulty_input" placeholder= "Intermediate"></td>
				    <td><input type="text" name="choreographer" class="choreographer_name_input"></td> 
				    <td><input type="text" name="studioName" class="studio_name_input"></td>
				  </tr>
				  <tr>
				    <th><label> Studio street address</label></th>
				    <th><label> City</label></th> 
				    <th><label> State</label></th>
				  </tr>
				  <tr>
				    <td><input type="text" name="street" class="street_name_input"></td>
				    <td><input type="text" name="city" class="city_input"></td> 
				    <td><input type="text" name="state" class="state_name_input"></td>
				  </tr>
				  <tr>
				    <th><label> Zipcode</label></th>
				  </tr>
				  <tr>
				    <td><input type="text" name="zipcode" class="zipcode_input"></td>
				  </tr>
				  <tr>
				    <th><label class= "description_label">Class Description</label>
				  </tr>
				  <tr>
				  	<td colspan= "3" class= "description_input"> <input type="text" name="description" class="class_description_input"></td></tr>
				</table>
<button type= "submit" class= "btn btn-lg btn-success create_class_button">Create my class</button>
				<div class= "feedback_section"> 
				</div>
			</form>
	
		</section>
		<footer class= " footer_bar navbar-inverse">
		<p> Made with a passion for &lt; &gt;  </p>
	</footer>
	</main>

	<script type = 'text/javascript' src='index.js'></script>
	<script type="text/javascript" src= '../app.js'></script>
</body>
</html>