<!DOCTYPE html>
<html lang = 'en'>

<meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>

<head>
	<title>Mark It</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = 'text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>
	<link rel="stylesheet" type="text/css" href="/../stylesheets/index.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Poppins" rel="stylesheet">

</head>
<body>
	<Header role= "banner">
		<nav id= "nav" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/"> <i class="fa fa-bullseye" aria-hidden="true"></i> Mark It</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class= "sign_up_link"><a href="/signup">Sign Up</a></li>
		      <li class= "login_link"><a href="/login" class = "login_link">Login </a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<main role= "main">
		<section class= "landing_page"> 
			<div class= "jumbotron">
				<h1 class= "Welcome_header"> Welcome to </h1>
				<h1 class="Site Title"> Mark It</h1>
				<p class= "slogan"> A place for students and choreographers to store and view daily class videos</p>

			</div>
			<div class = "mark_it_summary_section">
				<h2 class= "summary_header"> What is it?</h2>
				<p class= "summary">Mark it is an app that allows users to easily upload and view daily dance classes. Choreographers can create classes and upload videos to them to keep them in one easy to access site. On the flip side, dancers can add these classes to their accounts to make sure they never miss a class video!</p>
				<div class= "centered_button">
					<a href= "/login"><button class = "get_started_button btn btn-lg btn-success"> Get Started! </button></a>
				</div>
			</div>
		</section>
		<div class= "clear"> </div>
	<footer class= " footer_bar navbar-inverse">
		<p> Made with a passion for &lt; &gt;  </p>
	</footer>
	</main>

	<script type= "text/javascript" src= "app.js"></script>

</body>
</html>