<!DOCTYPE html>
<html lang = 'en'>

<meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>

<head>
	<title>Mark It</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = 'text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>
	<link rel="stylesheet" type="text/css" href="/../stylesheets/login.css">

</head>
<body>
	<Header role= "banner">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Mark It</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class= "sign_up_link"><a href="/signup">Sign Up</a></li>
		      <li class= "login_link"><a href="#" class = "login_link">Login </a></li>
		    </ul>
		  </div>
		</nav>
	</header>
		<section class= "login_page"> 
			<form action= "/login" method = "POST" class= "login_page_form">
				<h1> Login </h1>
				<p class= "error_message"></p>
				<label> Username: </label>
				<input class = "username_input" type="text" name= "username" placeholder= "username">
				<label> Password: </label>
				<input class = "password_input" type="password" name= "password" placeholder= "password">
				<button type="submit" class= "login_button">Login</button>
				<p> <a href= "/signup"> Sign up for an account </a></p>
			</form>
		</section>
	</main>

	<script type = 'text/javascript' src="index.js"></script>
	<script type= "text/javascript" src= '../app.js'></script>
</body>
</html>