<!DOCTYPE html>
<html lang = 'en'>

<meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>

<head>
	<title>Mark It</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = 'text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>
	<link rel="stylesheet" type="text/css" href="/../stylesheets/search.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
	<Header role= "banner">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/userHome"> <i class="fa fa-bullseye" aria-hidden="true"></i> Mark It</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class = "logout_link"><a href="/logout" class = "logout_link">Logout </a></li>
		      <li class= "search_link"><a href="/searchclasses" class = "login_link">Search </a></li>
		      <li><a href="/makeClass" class = "create_class_link">Create a class </a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<main role= "main">
		<section class= "class_results_page"> 
			<form role= "form" class= "class_results_form">
				<label> Search for Classes</label>
				<input type="text" name= "choreographer" class="search_term" placeholder= "Choreographer Name">
				<button type="submit" class= "search_button"> Search</button>
			</form>
			<div class= "search_results">
			</div>
		</section>
	<footer class= " footer_bar navbar-inverse">
		<p> Made with a passion for &lt; &gt;  </p>
	</footer>
	</main>

	<script type = 'text/javascript' src='index.js'></script>
	<script type="text/javascript" src= '../app.js'></script>
</body>
</html>