<!DOCTYPE html>
<html lang = 'en'>

<meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>

<head>
	<title>Mark It</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = 'text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>

</head>
<body>
	<Header role= "banner">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Mark It</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class= "sign_up_link"><a href="/signup">Sign Up</a></li>
		      <li class= "login_link"><a href="/login" class = "login_link">Login </a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<main role= "main">
		<section class= "sign_up_page">
			<form role= "form" action= "/signup" method= "post" class = sign_up_form>
				<h1> Create a New Account </h1>
				<label> First Name: </label>
				<input type="text" name= "firstname" placeholder= "John">
				<label> Last Name: </label>
				<input type="text" name= "lastname" placeholder= "Smith">
				<label> Username: </label>
				<input type="text" name= "username">
				<label> Password: </label>
				<input type="password" name= "password">
				<button type="submit" class= "sign_up_button"> Create my account</button>
			</form> 
		</section>
	</main>

	<script type = 'text/javascript' src='index.js'></script>


	<script type="text/javascript" src= '../app.js'></script>
</body>
</html>