<!DOCTYPE html>
<html lang = 'en'>

<meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>

<head>
	<title>Mark It</title>
	<link rel="stylesheet" type="text/css" href="/../index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = 'text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>

</head>
<body>
	<Header role= "banner">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/userHome">Mark It</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class = "logout_link"><a href="/" class = "logout_link">Logout </a></li>
		      <li class= "search_link"><a href="#" class = "login_link">Search </a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<main role= "main">
		<section class= "upload_video_page">
			<h1> Upload new video</h1>
			<form class= "upload_form" action= "/upload" method= "GET">
				<div class= "video-info">
					<p class= "response_message"> Now just give a few more details...</p>
					<label>Video Title</label>
					<input type="text" name= "videoTitle" class="video_title_input" placeholder= "New Rules -- Dua Lipa">
					<label> Class Date:</label>
					<input type="text" name= "classDate" class="class_date_input" placeholder= "MM/DD/YYYY">
					<label> Featured Dancers</label>
					<input type="text" name= "dancers" class="video_dancers_input" placeholder= "John Doe, Beyonce...">
					<button type= "submit" class= "post_video_info"> Upload new Video! </button>
				</div>
				<div class= "video_uploader">
					<label> Choose File </label>
						<input id= "fileupload" type="file" name="filename" >
					<div id="progress">
   						 <div class="bar" style="width: 0%;"></div>
					</div>
				</div>
			</form>

		</section>

	</main>
	<script src='/../jquery.ui.widget.js' type='text/javascript'></script>
	<script src='/../jquery.iframe-transport.js' type='text/javascript'></script>
	<script src='/../jquery.fileupload.js' type='text/javascript'></script>
	<script src='/../jquery.cloudinary.js' type='text/javascript'></script>

	<script type = 'text/javascript' src='/../index.js'></script>
	<script type="text/javascript" src= '/../app.js'></script>
	<script type="text/javascript" src= '/../fileupload.js'></script>
</body>
</html>