<!DOCTYPE html>
<html lang = 'en'>

<meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>

<head>
	<title>Mark It</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = 'text/javascript' src='https://code.jquery.com/jquery-3.2.1.js'></script>

</head>
<body>
	<Header role= "banner">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/userHome">Mark It</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class = "logout_link"><a href="/" class = "logout_link">Logout </a></li>
		      <li class= "search_link"><a href="#" class = "login_link">Search </a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	<main role= "main">
		<section class= "upload_video_page">
			<h1> Upload new video</h1>
			<form class= "upload_form">
			<label>Video Title</label>
			<input type="text" class="video_title_input" placeholder= "New Rules -- Dua Lipa">
			<label> Class Date:</label>
			<input type="text" class="class_date_input" placeholder= "MM/DD/YYYY">
			<label> Featured Dancers</label>
			<input type="text" class="video_title_input" placeholder= "John Doe, Beyonce...">
			<label> Choose File </label>
			<input name= "userVideo" type="file" class="video_file">
			</form>
		</section>

	</main>

	<script type = 'text/javascript' src='/../index.js'></script>


	<script type="text/javascript" src= '/../app.js'></script>
</body>
</html>