body {
  background: url(https://image.ibb.co/dsgEDR/Horrizontal3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  clear: both;
  background-color: grey;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.class_page_grouped_header {
	border: 2px solid black;
	background-color: rgba(0,10,25,.76);
	color: white;
}

.admin_delete_class_button {
	float:right;
	margin-right:1%;
}

.class_info {
	border: 2px solid black;
    background-color: rgba(0,10,25,.76);
    color: white;
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-right: 1%;
}

.class_videos_section {
	border: 2px solid black;
    color: white;
    background-color: rgba(0,10,25,.76);
    margin-top: 10px;
    margin-left: 1%;
    padding-left: 1%;
    width: 65%;
    min-height: 250px;
}

.videos_header {
	text-align: center;
	text-decoration: underline;
}

.no_videos_message {
	text-align: center;
}

.upload_video_button {
	width: 65%;
	margin-left: 1%;
	margin-top: 10px;
}