body {
  background: url(https://image.ibb.co/dsgEDR/Horrizontal3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  clear: both;
  background-color: grey;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.container {
	border: 2px solid red;
	background-color: white;
}

.class_list_page {
	margin-top: 10px;
    border: 2px solid red;
    float: right;
    width: 42%;
    min-height: 400px;
    margin-right: 1%;
}