body {
  background: url(https://image.ibb.co/dsgEDR/Horrizontal3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  clear: both;
  background-color: grey;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

form {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	background-color: rgba(0,10,25,.76);
	color: white;
	margin-top: 255px;
}

.form_title {
	font-size: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.sign_up_button {
	margin-top: 20px;
    width: 95%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.first_name_section {
	text-align: center;
	margin-bottom: 5px;
}

.first_name_section label {
	font-size:20px;
	font-family: 'Poppins', sans-serif;
}

.first_name_section input {
	width: 60%;
    height: 40px;
    font-size: 30px;
    color: black;
}

.last_name_section {
	text-align: center;
	margin-bottom: 5px;
}

.last_name_section label {
	font-size:20px;
	font-family: 'Poppins', sans-serif;
}

.last_name_section input {
	width: 60%;
    height: 40px;
    font-size: 30px;
    color: black;
}

.username_section {
	text-align: center;
	margin-bottom: 5px;
}

.username_section label {
	font-size:20px;
	font-family: 'Poppins', sans-serif;
}

.username_section input {
	width: 60%;
    height: 40px;
    font-size: 30px;
    color: black;
}

.password_section {
	text-align: center;
}

.password_section label {
	font-size:20px;
	font-family: 'Poppins', sans-serif;
}

.password_section input {
	width: 60%;
    height: 40px;
    font-size: 30px;
    color: black;
}

    @media (max-width: 767px) {
    form {
      margin-top: 100px;
    }
  }

  @media (max-width: 680px) {
    footer {
      bottom: auto;
      margin-top: 15px;
    }
  }



   @media (min-height: 500px) {
    form {
      margin-top: 50px;
    }
  }

  @media (min-height: 546px) {
    form {
      margin-top: 100px;
    }
  }
  @media (min-height: 655px) {
    form {
      margin-top: 200px;
    }
  }

@media (max-width:500px) {
    input {
      display:block;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.3;
    }

    footer {
      bottom: auto;
      margin-top: 15px;
    }
}

