body {
  background: url(https://image.ibb.co/dsgEDR/Horrizontal3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  clear: both;
  background-color: grey;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.video_header {
  text-align: center;
  text-decoration: underline;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,10,25,.76);
  color: white;
}

.video_info_section {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgba(0,10,25,.76);
  color: white;
  margin-top: 10px;
  padding-left:1%;
  padding-right:1%;
}

.video_title {
  font-size: 35px;
}

.video_date {
  font-size: 20px;
}

.video_dancers {
  font-size: 20px;
}

.back_to_class_button {
  margin-top: 10px;
  display: block;
  margin-right: auto;
  margin-left:auto;
}

.video-js {
  display:block;
  width: 100%;
  height: 200px;
}

footer {
  margin: 0 0 -200px;
}

@media (min-width: 366px) {
  .video-js {
  height: 300px
  }
}

@media (min-width: 550px) {
  .video-js {
  height: 500px
  }
}

@media (min-width: 1095px) {
  .video-js {
  height: 700px
  }
}